<configuration>
	<dduetools>
		<platform framework=".NETFramework" version="3.5" />
		<resolver type="Microsoft.Ddue.Tools.Reflection.AssemblyResolver" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\MRefBuilder.exe" use-gac="false">
			<ignoreIfUnresolved>
				<!-- Ignore the Crystal Reports licensing assembly if unresolved -->
				<assemblyIdentity name="BusinessObjects.Licensing.KeycodeDecoder" />
			</ignoreIfUnresolved>
		</resolver>
		<addins>
			<addin type="Microsoft.Ddue.Tools.ExtensionMethodAddIn" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\MRefBuilder.exe" />
			<addin type="Microsoft.Ddue.Tools.XamlAttachedMembersAddIn" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\MRefBuilder.exe" />
		</addins>

		<!-- Whether to include protected sealed members.  Always True for now.  We'll let SHFB rip them along with
				 the other unwanted members if specified in the SHFB project visibility properties. -->
		<protectedSealed expose="true" />

		<!-- Whether to include "no-PIA" COM types, those marked with TypeIdentifierAttribute and
				 CompilerGeneratedAttribute.  Since they are compiler generated, we'll always exclude them for now. -->
		<noPIA expose="false" />

		<attributeFilter expose="true">
			<!-- Most attributes in System.ComponentModel control designer behavior. Don't show them. -->
			<!-- The exceptions are attributes relating to data binding. Do show them. -->
			<namespace name="System.ComponentModel" expose="false">
				<type name="BindableAttribute" expose="true"/>
				<type name="BrowsableAttribute" expose="true"/>
				<type name="ComplexBindingPropertiesAttribute" expose="true"/>
				<type name="DataObjectAttribute" expose="true"/>
				<type name="DefaultBindingPropertyAttribute" expose="true"/>
				<type name="ListBindableAttribute" expose="true"/>
				<type name="LookupBindingPropertiesAttribute" expose="true"/>
				<type name="SettingsBindableAttribute" expose="true"/>
				<type name="TypeConverterAttribute" expose="true"/>
				<!-- These may provide useful information too -->
				<type name="DefaultEventAttribute" expose="true"/>
				<type name="DefaultPropertyAttribute" expose="true"/>
				<type name="DefaultValueAttribute" expose="true"/>
				<type name="DesignerSerializationVisibilityAttribute" expose="true"/>
				<type name="EditorAttribute" expose="true"/>
				<type name="EditorBrowsableAttribute" expose="true"/>
				<type name="ExtenderProvidedProperty" expose="true"/>
				<type name="ProvideProperty" expose="true"/>
			</namespace>
			<namespace name="System.ComponentModel.Design" expose="false" />
			<namespace name="System.ComponentModel.Design.Serialization" expose="false" />
			<!-- Most attributes in System.Diagnostics control debugger behavior. Don't show them. -->
			<namespace name="System.Diagnostics" expose="false">
				<type name="ConditionalAttribute" expose="true"/>
				<type name="EventLogPermissionAttribute" expose="true"/>
				<type name="PerformanceCounterPermissionAttribute" expose="true"/>
			</namespace>
			<!-- Attributes in System.Diagnostics.CodeAnalysis control interaction with FxCop. Don't show them. -->
			<namespace name="System.Diagnostics.CodeAnalysis" expose="false" />
			<!-- Attributes in System.EnterpriseServices control obscure details of COM+ interop. Don't show them. -->
			<namespace name="System.EnterpriseServices" expose="false" />
			<!-- The DefaultMember attribute is usually compiler-generated. Users will see it from the member syntax. -->
			<namespace name="System.Reflection" expose="true">
				<type name="DefaultMemberAttribute" expose="false" />
			</namespace>
			<!-- Attributes in System.Runtime and System.Runtime.CompilerServices control obscure details of compilation. Don't show them. -->
			<namespace name="System.Runtime" expose="false" />
			<namespace name="System.Runtime.CompilerServices" expose="false">
				<!-- This one is needed to document extension methods properly -->
				<type name="ExtensionAttribute" expose="true" />
				<!-- This one is needed to document fixed buffers properly -->
				<type name="FixedBufferAttribute" expose="true" />
				<!-- This one may provide useful information -->
				<type name="UnsafeValueTypeAttribute" expose="true" />
			</namespace>
			<!-- Attributes in System.Runtime.ConstrainedExecution control obscure details of compilation. Don't show them. -->
			<namespace name="System.Runtime.ConstrainedExecution" expose="false" />
			<!-- Most attributes in System.Runtime.InteropServices control obscure details of COM interop. Don't show them. -->
			<namespace name="System.Runtime.InteropServices" expose="false">
				<!-- However, these may prove useful. -->
				<type name="ClassInterfaceAttribute" expose="true"/>
				<type name="ComImportAttribute" expose="true"/>
				<type name="ComVisibleAttribute" expose="true"/>
				<type name="DllImportAttribute" expose="true"/>
				<type name="FieldOffsetAttribute" expose="true"/>
				<type name="GuidAttribute" expose="true"/>
				<type name="InterfaceTypeAttribute" expose="true"/>
				<type name="PreserveSigAttribute" expose="true"/>
				<type name="StructLayoutAttribute" expose="true"/>
				<!-- This one is needed to document optional parameters properly -->
				<type name="OptionalAttribute" expose="true" />
			</namespace>
			<!-- Attributes in System.Runtime.Versioning control details of resource loading. Don't show them. -->
			<namespace name="System.Runtime.Versioning" expose="false" />
			<!-- Attributes in System.Security might hint as security implementation details. Don't show them. -->
			<namespace name="System.Security" expose="false">
				<type name="SecurityCriticalAttribute" expose="true" />
				<type name="SecurityTreatAsSafeAttribute" expose="true" />
				<type name="AllowPartiallyTrustedCallersAttribute" expose="true" />
			</namespace>
			<!-- Attributes in System.Web.Compilation control interaction with the Expression designer. Don't show them. -->
			<namespace name="System.Web.Compilation" expose="false" />
			<!-- The ASP.NET team only wants these attributes exposed from their namespace. Their logic ecscapes me, but here it is. -->
			<namespace name="System.Web.UI" expose="false">
				<type name="ControlValuePropertyAttribute" expose="true"/>
				<type name="PersistenceModeAttribute" expose="true" />
				<type name="ValidationPropertyAttribute" expose="true"/>
				<type name="WebResourceAttribute" expose="true"/>
				<type name="TemplateContainerAttribute" expose="true"/>
				<type name="ThemeableAttribute" expose="true"/>
				<type name="TemplateInstanceAttribute" expose="true"/>
			</namespace>
			<!-- Don't show attributes related to XAML serialization details. -->
			<namespace name="System.Windows.Markup" expose="true">
				<type name="ConstructorArgumentAttribute" expose="false" />
				<type name="DependsOnAttribute" expose="false" />
				<type name="DesignerSerializationOptionsAttribute" expose="false" />
				<type name="ValueSerializerAttribute" expose="false" />
				<type name="XmlnsCompatibleWithAttribute" expose="false" />
				<type name="XmlnsDefinitionAttribute" expose="false" />
				<type name="XmlnsPrefixAttribute" expose="false" />
			</namespace>
			<!-- Attributes in System.Xml.Serialization control obscure details of XML serialization. Don't show them.-->
			<!-- namespace name="System.Xml.Serialization" expose="false" / -->
			<!-- The GeneratedCodeAttribute is useful only to tools, and should be hidden from end users.-->
			<namespace name="System.CodeDom.Compiler" expose="true">
				<type name="GeneratedCodeAttribute" expose="false" />
			</namespace>
		</attributeFilter>
		<apiFilter expose="true">
  <namespace name="" expose="false">
    <type name="ActionAnimate" expose="true"/>
    <type name="ActionGeneric" expose="true"/>
    <type name="ActionInstantiate" expose="true"/>
    <type name="ActionLoadScene" expose="true"/>
    <type name="ActionMoveTo" expose="true"/>
    <type name="ActionRemove" expose="true"/>
    <type name="ActionReset" expose="true"/>
    <type name="ActionRotate" expose="true"/>
    <type name="ActionScale" expose="true"/>
    <type name="ActionSetCutscene" expose="true"/>
    <type name="ActionSetKinematic" expose="true"/>
    <type name="ActionSetLookAt" expose="true"/>
    <type name="ActionSetRenderer" expose="true"/>
    <type name="ActionShowMessage" expose="true"/>
    <type name="ActionSleep" expose="true"/>
    <type name="ActionTranslate" expose="true"/>
    <type name="AnimatedTexture" expose="true"/>
    <type name="ArmEnemy" expose="true"/>
    <type name="AutoTransparency" expose="true"/>
    <type name="BackgroundSound" expose="true"/>
    <type name="BaseItem" expose="true"/>
    <type name="BaseSkill" expose="true"/>
    <type name="BasicItem" expose="true"/>
    <type name="BossAI" expose="true"/>
    <type name="BossRocket" expose="true"/>
    <type name="BrokenCeilingLamp" expose="true"/>
    <type name="Chest" expose="true"/>
    <type name="Coil" expose="true"/>
    <type name="Coil.InvItem" expose="true"/>
    <type name="CommonEntity" expose="true"/>
    <type name="CommonEntity.DamageOverTime" expose="true"/>
    <type name="CommonEntity.EntityState" expose="true"/>
    <type name="CommonEntity.Faction" expose="true"/>
    <type name="Controls" expose="true"/>
    <type name="Conveyor" expose="true"/>
    <type name="Credits" expose="true"/>
    <type name="Credits.Coords" expose="true"/>
    <type name="DestructIgor" expose="true"/>
    <type name="DestructionTrigger" expose="true"/>
    <type name="DiagnosisRobotEnemy" expose="true"/>
    <type name="DontDestruct" expose="true"/>
    <type name="Door" expose="true"/>
    <type name="DragNDrop" expose="true"/>
    <type name="DragNDrop.MetaData" expose="true"/>
    <type name="DragNDrop.MetaData.Source" expose="true"/>
    <type name="Drawing" expose="true"/>
    <type name="DropChest" expose="true"/>
    <type name="ElectroFistAttack" expose="true"/>
    <type name="Elevator" expose="true"/>
    <type name="ElevatorLoader" expose="true"/>
    <type name="EnemyAI" expose="true"/>
    <type name="EnemyAI.EnemyTpye" expose="true"/>
    <type name="EnemyHitUnit" expose="true"/>
    <type name="EnergyCapsule" expose="true"/>
    <type name="EnergyCapsule.InvEnergyCapsule" expose="true"/>
    <type name="Fan" expose="true"/>
    <type name="Fan.InvItem" expose="true"/>
    <type name="Fire" expose="true"/>
    <type name="FloorTrigger" expose="true"/>
    <type name="FlyingEyeEnemy" expose="true"/>
    <type name="Game" expose="true"/>
    <type name="Game.Difficulty" expose="true"/>
    <type name="GameData" expose="true"/>
    <type name="GameData.BossData" expose="true"/>
    <type name="GameData.BossTransformerData" expose="true"/>
    <type name="GameData.ChestData" expose="true"/>
    <type name="GameData.CutscenePrefab" expose="true"/>
    <type name="GameData.CutscenePrefabJeveData" expose="true"/>
    <type name="GameData.EnemyPrefab" expose="true"/>
    <type name="GameData.GameDifficultyData" expose="true"/>
    <type name="GameData.IgorData" expose="true"/>
    <type name="GameData.IgorData.InventoryRecover" expose="true"/>
    <type name="GameData.Operation" expose="true"/>
    <type name="GameData.ScenePrefab" expose="true"/>
    <type name="GameData.SkillBarData" expose="true"/>
    <type name="GameData.SkillBarData.SkillSlot" expose="true"/>
    <type name="GameData.SkillData" expose="true"/>
    <type name="GameData.SkillData.SkillDataList" expose="true"/>
    <type name="GameDataManager" expose="true"/>
    <type name="GameDataManager.SaveLoadDataShow" expose="true"/>
    <type name="GameDataManager.SwapData" expose="true"/>
    <type name="GameDataRecover" expose="true"/>
    <type name="HackAttack" expose="true"/>
    <type name="HeadbangAttack" expose="true"/>
    <type name="HeadMarker" expose="true"/>
    <type name="IAction" expose="true"/>
    <type name="Igor" expose="true"/>
    <type name="IgorCamera" expose="true"/>
    <type name="IgorLeaveEnemyTest" expose="true"/>
    <type name="IgorLeaveIgorMaker" expose="true"/>
    <type name="IgorLeaveJump" expose="true"/>
    <type name="IgorLeaveTutorial" expose="true"/>
    <type name="IgotLeaveItemTest" expose="true"/>
    <type name="IHitable" expose="true"/>
    <type name="IInvItem" expose="true"/>
    <type name="InputManager" expose="true"/>
    <type name="IntroCutscene" expose="true"/>
    <type name="Inventory" expose="true"/>
    <type name="Inventory.InventoryItem" expose="true"/>
    <type name="IPauseHandler" expose="true"/>
    <type name="ISkill" expose="true"/>
    <type name="ItemDropper" expose="true"/>
    <type name="ItemDropper.ItemDropData" expose="true"/>
    <type name="ITrigger" expose="true"/>
    <type name="IUsable" expose="true"/>
    <type name="JeveAndIgor" expose="true"/>
    <type name="JeveDie" expose="true"/>
    <type name="LaserAttack" expose="true"/>
    <type name="LeaveLevel1" expose="true"/>
    <type name="Lightning" expose="true"/>
    <type name="LightningAttack" expose="true"/>
    <type name="LightningSourceMarker" expose="true"/>
    <type name="LittleFightingRobot" expose="true"/>
    <type name="Loader" expose="true"/>
    <type name="LoadGameScreen" expose="true"/>
    <type name="Loadscreen" expose="true"/>
    <type name="Matrix2x2" expose="true"/>
    <type name="MeleeAttack" expose="true"/>
    <type name="MeleeAttackHelper" expose="true"/>
    <type name="MessageBoard" expose="true"/>
    <type name="MessageBoard.BackgroundTexturePartIndices" expose="true"/>
    <type name="MessageBoardMessage" expose="true"/>
    <type name="Microchip" expose="true"/>
    <type name="Microwave" expose="true"/>
    <type name="MicrowaveAttack" expose="true"/>
    <type name="MicrowaveAttackSphere" expose="true"/>
    <type name="Mine" expose="true"/>
    <type name="MovementManager" expose="true"/>
    <type name="MoveToCeiling" expose="true"/>
    <type name="MySettings" expose="true"/>
    <type name="PassiveBaseSkill" expose="true"/>
    <type name="PassiveIgorSkill" expose="true"/>
    <type name="PauseScreen" expose="true"/>
    <type name="Prism" expose="true"/>
    <type name="Prism.InvItem" expose="true"/>
    <type name="PrismAttack" expose="true"/>
    <type name="PrismAttack.LaserAttack" expose="true"/>
    <type name="Projectile" expose="true"/>
    <type name="PushableBox" expose="true"/>
    <type name="Puzzle1Platform" expose="true"/>
    <type name="Remove" expose="true"/>
    <type name="RepairKit" expose="true"/>
    <type name="RepairKit.InvRepairKit" expose="true"/>
    <type name="RoundhouseAttack" expose="true"/>
    <type name="SceneLoader" expose="true"/>
    <type name="Score" expose="true"/>
    <type name="SelfDestructor" expose="true"/>
    <type name="Siren" expose="true"/>
    <type name="SkillBar" expose="true"/>
    <type name="SkillBar.SkillBarItem" expose="true"/>
    <type name="SkillBar.SkillBarItem.ItemType" expose="true"/>
    <type name="Skills" expose="true"/>
    <type name="Skills.SkillData" expose="true"/>
    <type name="SkillTree" expose="true"/>
    <type name="SkillTree.SkillTreeNode" expose="true"/>
    <type name="SpawnPoint" expose="true"/>
    <type name="SplashScreen" expose="true"/>
    <type name="Spring" expose="true"/>
    <type name="Spring.InvItem" expose="true"/>
    <type name="SteamyObstacle" expose="true"/>
    <type name="SwitchPlatform" expose="true"/>
    <type name="SwitchTrigger" expose="true"/>
    <type name="TestCutscene" expose="true"/>
    <type name="Transformer" expose="true"/>
    <type name="Triggerable" expose="true"/>
    <type name="USBStick" expose="true"/>
    <type name="USBStick.InvItem" expose="true"/>
    <type name="WallTexture" expose="true"/>
    <type name="Waypoint" expose="true"/>
    <type name="WeightTrigger" expose="true"/>
    <type name="XMLGameSaver" expose="true"/>
  </namespace>
</apiFilter>

	</dduetools>
</configuration>
